*.o
*.out
*.class
*.exe

node_modules/
vendor/
target/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/


*.log
*.tmp
*.swp
*.bak
*.pkl
.DS_Store
Thumbs.db
debug*.txt
log*.txt
question_accuracy_*
test.py


.git/
