/venv/
**/__pycache__/
*-env
**/outputs/
**/.DS_Store
**/*.egg-info
.envrc
.idea/vcs.xml
.idea/robotouille-matrix.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/encodings.xml
pyproject.toml
/build/
*.log
*.mp4
runs/*
logs/*
.venv/*
logs/*